@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

@layer components {
    .bodyLayout {
        @apply bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-300;
    }

    .mainLayout {
        @apply mx-auto w-full max-w-screen-xl px-2 grid grid-cols-12 pb-12;
    }

    .contentLayout {
        @apply col-start-1 col-span-12 md:col-start-1 md:col-span-12 lg:col-start-2 lg:col-span-10;
    }

    .prose pre {
        background-color: #030712 !important;
    }

    .dark .prose pre {
        background-color: #030712 !important;
    }

    .prose h1[id],
    .prose h2[id],
    .prose h3[id],
    .prose h4[id],
    .prose h5[id],
    .prose h6[id] {
        scroll-margin-top: 5rem;
    }
}