---
import HamburgerMenuMobile from "./HamburgerMenuMobile.astro";
import HamburgerMenuScript from "./HamburgerMenuScript.astro";

interface Props {
    language: string;
}

const { language } = Astro.props;
const ariaLabel = language === "es" ? "Abrir menú" : "Open menu";
---

<style>
    @import "tailwindcss" reference;

    .toogleMenu {
        @apply ml-auto md:hidden p-2 rounded focus:outline-none focus:ring-2 focus:ring-orange-400;
    }
</style>

<button id="menu-toggle" class="toogleMenu" title={ariaLabel} aria-label={ariaLabel} aria-controls="mobile-menu" aria-expanded="false">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
</button>

<HamburgerMenuMobile>
    <slot />
</HamburgerMenuMobile>
<HamburgerMenuScript />
