---
interface Props {
    language: string;
    tag: string;
}

const { language, tag } = Astro.props;
const tagName = tag === "all" ? (language === "es" ? "Todos" : "All") : tag;
---

<style>
    @import "tailwindcss" reference;

    .tagButton {
        @apply px-3 py-1 rounded-full bg-gray-50 font-medium border hover:border-orange-600 hover:text-orange-600 cursor-pointer;
    }

    :global(.dark) .tagButton {
        @apply bg-gray-950;
    }
</style>

<button data-tag={tag} class="tagButton" onclick={`filterByTag('${tag}')`}>
    {tagName}
</button>
