---
interface Props {
    info: string;
    dataInfo?: boolean;
}

const { info, dataInfo = false } = Astro.props;
---

<style>
    @import "tailwindcss" reference;

    .badge {
        @apply text-gray-800 rounded-full px-3 py-2 text-xs font-bold bg-orange-100;
    }

    :global(.dark) .badge {
        @apply text-gray-300 bg-orange-900;
    }
</style>

<span class="badge" {...dataInfo && { "data-info": info }}>
    {info}
</span>
