---
interface Props {
    info: string;
}

const { info } = Astro.props;
---

<span class="group-hover:text-gray-800 dark:group-hover:text-gray-300 text-gray-800 dark:text-gray-300 rounded-full px-3 py-2 text-xs font-bold bg-orange-100 dark:bg-orange-900">
    {info}
</span>
